* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
}

h1,
h2 {
    align-content: center;
}

.background {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient( rgb(162 24 24) 0%, rgb(93 24 24) 100% );
}

.header-name{
    display: block;
    margin: 0 auto;
    min-height: 40px;
    width: fit-content;
    font-size: 35px;
    font-style: oblique;
}
.header-list {
    display: -webkit-inline-box;
    list-style: none;
    font-size: large;
    
}
.top-list {
    padding: 2px;
}
.listilla {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
}
.img-header {
    max-width: 250px;
    padding: 10px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.p {
    min-height: 35px;
    font-size: 20px;
}

section {
    border: 2px solid black;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: -webkit-fill-available;
}

.contact {
    display: flex;
    flex-direction: column;
   height: fit-content; 
   width: fit-content;
   border: 2px solid black;
   text-align: center;
}

.nombres {
    display: inline-block;
    margin: 7px;
    padding: 15px;
    border: 2px solid black;
    width: 200px;

}

.form {
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .header-name {
        align-items: center;
    }
    .img-header {
        align-items: center;
        justify-content: center;
    }
    .contact {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}
@media screen and (min-width: 992px) {
    .header-name {
        align-items: center;
    }
    .img-header {
        align-items: center;
        justify-content: center;
    }
    .contact {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}