* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
}
h1,
h2 {
    align-content: center;
    font-size: 175%;
}
.background {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: linear-gradient( rgb(162 24 24) 0%, rgb(93 24 24) 100% );
}

.header-name{
    display: block;
    margin: 0 auto;
    min-height: 40px;
    width: fit-content;
    font-size: 600%;
    font-style: oblique;
}
.header-list {
    display: -webkit-inline-box;
    list-style: none;
    font-size: large;

}
.top-list {
    padding: 5px;
    font-size: 200%;
}
.listilla {
    display: flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
}


.img-header {
    max-width: 375px;
    padding: 10px;
    margin: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.foto {
    display: flex;
    margin: 0;
    padding: 0;
}
.p {
    min-height: 35px;
    font-size: 20px;
}

section {
    flex: 0;
}
.previous-work {
    border: 2px solid black;
    display: flex;
    margin: 1.5% 0;
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
}
.cajitas {
    border: 2px solid black;
    display: flex;
    width: 630px;
    height: 70px;
}
aside{
    flex: 1;
}
.social-media {
    display: block;
}

.contact {
    display: block;
   border: 2px solid black;
   text-align: center;
   margin: 1% 50%;
}

.nombres {
    display: inline-block;
    margin: 7px;
    padding: 15px;
    border: 2px solid black;
    width: 200px;

}

.form {
    text-align: center;
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .header-name {
        align-items: center;
    }
    .img-header {
        align-items: center;
        justify-content: center;
    }
    .contact {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}
@media screen and (min-width: 992px) {
    .header-name {
        align-items: center;
    }
    .img-header {
        align-items: center;
        justify-content: center;
    }
    .contact {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
}